@{
  Layout="Shared/_Layout.cshtml";
}
<form action="/categories/new" method="post">
    <div class="form-group">
        <label for="category-name">Category Name: </label>
        <input id="category-name" name="category-name" type="text">
        <button class="btn" type="submit">Add</button>
    </div>

</form>
