@{
    Layout="Shared/_Layout.cshtml";
}

<a href="/categories"><h4>View All Categories</h4></a>
<a href="/recipes"><h4>View All Recipes</h4></a>

<form action="/recipe/search/results" method="post">
  <label for="recipe-search">Search for recipes by a specific ingredient:</label>
  <input id="recipe-search" name="recipe-search" type="text">
  <button type="submit">Search</button>
</form>
