
@{
  Layout="Shared/_Layout.cshtml";
}
<h1>Add a new recipe</h1>
<form action="/recipes/new" method="post">
  <label for="recipe-name">Recipe name:</label>
  <input id="recipe-name" name="recipe-name" type="text">

  <label for="recipe-ingredient">Recipe ingredients:</label>
  <input id="recipe-ingredient" name="recipe-ingredient" type="text">

  <label for="recipe-instruction">Recipe instruction:</label>
  <input id="recipe-instruction" name="recipe-instruction" type="text">

  <label for="recipe-rating">Recipe rating:</label>
  <input id="recipe-rating" name="recipe-rating" type="number">

  <select name="category-id">
    @foreach (var category in Model)
    {
      <option value="@category.GetId()">@category.GetName()</option>
    }
  </select>
  <button type="submit">Add New</button>
</form>
<h4><a href="/">Return Home</a></h4>
<h4><a href="/recipes">View All Recipes</a></h4>
