
@{
  Layout="Shared/_Layout.cshtml";
}
@if (@Model.Count == 0)
{
  <p>No recipes have been added yet!</p>
}
else
{
  <h1>Recipes</h1>
  <hr>
  <ul>
    @foreach (var recipe in Model)
    {
        <li><a href = '/recipes/@recipe.GetId()'>@recipe.GetName()</a></li>
        <form action="/recipes/@recipe.GetId()" method="post">
            <input type="hidden" name="_method" value="DELETE">
            <button type="submit" class="btn">Delete</button>
        </form>
        <button type="button" name="edit-button" class="btn edit-button">Edit</button>
        <form class="appears" action="/recipe/edit/@recipe.GetId()" method="post">
          <label for="new-recipe-name">Recipe name:</label>
          <input id="new-recipe-name" name="new-recipe-name" type="text">

          <label for="new-recipe-ingredient">Recipe ingredients:</label>
          <input id="new-recipe-ingredient" name="new-recipe-ingredient" type="text">

          <label for="new-recipe-instruction">Recipe instruction:</label>
          <input id="new-recipe-instruction" name="new-recipe-instruction" type="text">

          <label for="new-recipe-rating">Recipe rating:</label>
          <input id="new-recipe-rating" name="new-recipe-rating" type="number">

          <select name="new-category-id">
            @foreach (var category in Model)
            {
              <option value="@category.GetId()">@category.GetName()</option>
            }
          </select>
          <button type="submit">Add New</button>
        </form>
    }
  </ul>
}
<form action="/recipes/delete" method="post">
  <h4><a href="/recipes/new">Add New</a> |
  <button class="btn" type="submit">Clear All</button></h4>
</form>
<hr>
<h4><a href="/">Return Home</a></h4>
